.img-fluid {
   border-radius: 10%;
   margin-top: 25px;
   margin-bottom: 25px;
}
.col-4 {
    position: relative;
   
}
.img-fluid {
    width: 375px;
    height: 498px;
}
.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: aqua;
}

.default-image {
    transition: opacity 0.5s;
    width: 370px;
    height: 498px;
}

.col-4:hover .default-image {
    opacity: 0;
}

.col-4:hover .hover-image {
    opacity: 1;
}
.button-img {
    border: none;
    padding: 0;
    cursor: pointer;
    background: none;

}
}


