/*
body {
    font-family: Arial, sans-serif;
}
.container {
   
    
}

.sidebar .btn {
    width: 100%;
    text-align: left;
    border: none;
}

.sidebar .btn.active {
    background-color: #8b5c7e;
    color: white;
}

.main-content {
    padding: 20px;
}

.header {
    margin-bottom: 20px;
}

.faq {
    margin-top: 20px;
}

.card-title {
    font-size: 1.5rem;
}

.card-body {
    padding: 1.5rem;
}
.background-belakang{
    background: #6610f2;
    position: absolute;
}